<%- include("partials/header"); -%>

<h1> <%= ht1 %> </h1>
<p> <%= hsc %> </p>

<% posts.forEach(function(element){ %>
  <h1><%=element.posttitle%></h1>
  <p><%=element.postbody.substring(0,100)+"..."%>
  <a href="/posts/<%=element.posttitle%>">read more</a></p>
<%})%>

<%- include("partials/footer"); -%>
